.form {
  padding: 1rem;
}

.control {
  padding: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: large;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

/*.actions {*/
/*  margin-top: 1rem;*/
/*  text-align: right;*/
/*}*/

/*.actions button {*/
/*  font: inherit;*/
/*  cursor: pointer;*/
/*  color: #59a8de;*/
/*  border: 1px solid #3e7da9;*/
/*  background-color: transparent;*/
/*  padding: 0.5rem 1.5rem;*/
/*  border-radius: 15px;*/
/*}*/

/*.actions button:hover,*/
/*.actions button:active {*/
/*  background-color: #ffe2ed;*/
/*}*/

.item {
  margin: 1rem 0;
}

.content {
  text-align: center;
  padding: 0.3rem;
}

.content h3 {
  font-size: 1.9rem;
  color: #2c292b;
}

h4 {
  font-size: 1rem;
  color: #2c292b;
}

p {
  font-size: 1.5rem;
}
.actions {
  padding: 20px;
  text-align: center;
  justify-content: space-between;
  display: flex;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #59a8de;
  border: 1px solid #3e7da9;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}